@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto&family=Rock+Salt&display=swap');
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Dar a fonte a todos os body, com peso regular 400 e tamanho 22px,
caso nao ache a fonte inportada vai usar a secundaria*/
body,button,input {
    font: 400 18px "Roboto", sans-serif;
}
li {
    list-style: none; /*Retira as bolinhas dos  elementos*/

}
:root{
    --blue: #00008b;
    --Gray: #555555;
    --SkyBlue:#00bfff;
    --silver:#c0c0c0;
    --red: #ff0000;
    --white: #ffffff;
    --Darkgray: #959595;
}

.main-header{
    background-image: url(background-image.png);
    background-position: 50% 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main-nav-container {
    width: 100%; /*cupar toda area disponivel*/
    max-width: 600px; /*travar a largura maxima em definir para objetos*/
    padding: 0 16px; /*primeiro é cima e baixo, segundo é esquerda e direita*/
}
.header-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

}
.nav-item {
    text-transform: uppercase;
    color: red;
}
hr {
    width: 100%;
}
.nav-item a {
    text-decoration: none;
    color: #00008b;
}
.nav-item:hover {
    color: rgba(0,0,139, 0.7);
    transition: 0.2s; /*Atrasar o tempo que a cor muda*/
}
.main-about {
    padding: 40px 0 64px;
}
.container {
    max-width: 600px;
    padding: 0 16px;
    margin: 0 auto; /*nao aplica cima/baixo, o auto distribui o maximo possivel para esquerda*/
}
.title-median {
    font-family:"Raleway", sans-serif ; /*Pega a fonte inportada, caso não encontre ultiliza a sans-serif (padrão)*/
    font-size: 32px;/*tamanho da Fonte*/
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.about-image {
    float: left; /* alinha a imagem esquerda e otexto adireita*/
    margin: 0 20px 10px 0; /*0 topo, 20 direita ,10 baixo 0 esquerda*/
    width: 200px;/*largura*/
    height: auto;/*evita a distorçao das imagens*/
}
.about-description {
    color:var(--Gray) ; /*Utiliza variavel de cor criado anteriomente*/
    text-align: justify; /*Justifica o texto*/
}

/*Footer*/
.main-footer {
    background-color: var(--SkyBlue);/*aplicar cor no fundo do rodape*/
    padding: 15px 0;
}
.main-footer-container {
    display: flex; /*deixa tudo na mesma linha*/
    align-items: center; /*Alinha todos os elementos*/
    justify-content: space-between; /*Colar nome de um lado e lista de iconesdo outro*/
}

.title-smaller {
    font-family: "Raleway", sans-serif; /*pegar a fonte inportada*/
    color: var(--blue); /**/
    font-size: 26px; /**/
}
.list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-item {
    width: 50px; /**/
    height: 50px; /**/
    padding: 15px 0; /*Aplica espaçamento 15px cima/baixo e 0px esquerda/direita*/
}

.footer-item + .footer-item {
    margin-left: 16px; /*Aplica na mesma class seguindo em diante, ate chegar no fim*/

}


.contact-text{
    text-align: center; /*centralizar o texto*/
    margin-bottom: 30px; /*Separar o paragrafo do formulário*/
    font-size: 28px;
    color: var(--Gray);

}
.contact {
    background-color: var(--SkyBlue); /*Cor do fundo do formulario*/
    padding: 30px; /*Espaçamento*/
    max-width: 600px; /*Tamanho definido para o projeto*/
    margin-left: auto; /*empurrar para esquerda*/
    margin-right: auto; /*empurrar para direita*/
    margin-bottom: 20px; /*espaçamento para baixo*/

}
.contact-label {
    display: block; /*coloca o elementos um emcima do outro*/
    margin-bottom: 20px; /*espaçamento para baixo*/
    color: var(--blue);

}
.contact-field {
    display: block; /*colocar elemento um em cima do outro*/
    width: 100%; /**/
    height: 30px; /**/
    font-size: 16px; /**/
    padding-left: 10px; /**/
    border: none; /**/
}
.contact-field:focus { /**/
    background-color: var(--silver);/*cor do fundo*/
    outline: none;/*Remove a linha interna do campo do formulario*/
}
textarea.contact-field {
    height: 150px;
    padding: 10px;
    font-family: "Roboto", Calibri;

}
.button-form {
    background-color: var(--blue); /*cor do fundo do botão*/
    color: var(--white); /*cor da fonte do botão*/
    border: 2px solid var(--blue); /*adciona borda ao botão*/
    border-radius: 10px; /**/
    padding: 2px 6px; /*aumenta o botao 2 para cima/baixo e 6 para direita/esquerda*/
    font-weight: bold; /**/
    cursor: pointer;
}
.button-form:hover {
    background-color: var(--white);
    color: var(--blue); /*cor da fonte do botão*/
}
.contact-maps {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

/*index*/

.title-header {
    font-family:Modimi One;
    color: var(--blue);
    font-size: 38px;
    padding-bottom: 10px;
}

.title-large {
    font-family: "Rock Salt", cursiv;
    font-size: 38px;
    color: var(--blue);
    text-align: center;
}

.description {
    text-align: center;
    color: var(--Gray);
    padding-bottom: 10px;
}

.emphasis {
    background-color: var(--SkyBlue);
    color: var(--blue);
    border-radius: 25px;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    font-size: 20px;
    margin-bottom: 6px;
}

.product-image {
    width: 320px;
    height: 200px;
    margin-bottom: 20px;
}

.product-price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;

}

.button-hover {
    background-color: var(--SkyBlue);
    color: var(--blue);
    border: 2px solid var(--SkyBlue);
    border-radius: 10px;
    padding: 4px 2px;
    font-weight: bold;
    cursor: pointer;
}

.button-hover:hover {
    background-color: transparent;
    color: var(--SkyBlue);
    border:  2px solid var(--blue);
}

.cart-table{
    width: 100%;
    border-collapse: collapse;
}
    
.table-head-item {
    text-align: start;
    border-bottom: 1px solid var(--Darkgray);
    padding-bottom: 6px;
    text-transform: uppercase;/*Transformar o texto em maiuscula*/
}

.second-col,
.third-col {
    width: 25%;
}

.cart-product {
    padding: 8px;
}

.product-identification {
    display: flex;
    align-items: center;
}

.cart-product-image {
    width: 120px;
    height: 80px;
}

.cart-product-title {
    margin-left: 15px;
}
.cart-product-price {
    font-family: "Raleway", sans-serif;
}

.product-qnt-input {
    width: 45px;
    height: 35px;
    border: 2px solid var(--Gray);
    border-radius: 5px;
    background-color: var(--silver);
    text-align: center;
}

.remove-product-button {
    background-color: var(--red);
    color: var(--white);
    border: 0;
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;
}

.remove-product-button:hover {
    filter: brightness(0.8);
}
.cart-total-container {
    border-top: 1px solid var(--Darkgray);
    text-align: end;
    padding: 6px 16px 0 0;
}
.cart-total-container strong {
    margin-right: 10px;
}

.purchase-button {
    display: flex;
    padding: 16px 20px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 6px;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    margin: 24px auto 0;

}
.purchase-button:hover {
    filter: brightness(0.8);
}

/*responsivilidade*/
@media (max-width: 725px) {
.list-container (
flex-direction:column;
)
}


